<div class="container mt-4">
  <h1>Edit Client</h1>
  <%= render 'form' %>
  <hr>
  <%= link_to 'Show this client', @client, class: 'btn btn-info' %> |
  <%= link_to 'Back to clients', clients_path, class: 'btn btn-secondary' %>
</div>
